@charset "UTF-8";

.test{
  width: 300px;
  height:200px;
  border: 2px solid orange;
  margin: 27px;

  border-image-source:url('images/border.png');
  border-image-width: 27px;
  /*border-image-slice: 27;*/
  border-image-slice: 34% fill;
  border-image-repeat: round;
  /*border-image-repeat: repeat;*/
  border-image-outset: 27px;
  /*border-image: url('images/border.png') 27/27px round 27px;*/

}
.test1{
  width: 200px;
  height: 100px;
  border: 2px solid orange;
  margin: 50px;

  /*border-image-source: url('images/button.png');
  border-image-width: 10px;
  border-image-slice: 10 fill;
  border-image-outset: 10px;*/
  border-image: url('images/button.png') 10 fill/10px/10px ;
  text-align: center;

}
